<h1>View article</h1>

<p>Title: <%= @article.title %></p>
<p>Body: <%= @article.body %></p>


<%= link_to 'Return to Listings page', articles_path %>
<%= link_to 'Edit article', edit_article_path(@article) %>
